.dialog {
    initial-width: none;
    initial-height: none;
}

.dialog-footer-container {
    padding: 5px;
}

.custom-dialog-footer, .custom-dialog-footer .tabview {
    background-color: platform-color(window);
}

.custom-dialog-footer .dialog-footer-line {
    background-color: platform-color(3d-light);
}

.custom-dialog-footer .dialog-footer-container {
    background-color: platform-color(frame-bk);
}