.platform-windows .frame {
    padding-top: 20px;
    padding-left: 8px;
    padding-bottom: 9px;
    padding-right: 8px;
}

.platform-mac .frame {
    padding-top: 20px;
    padding-left: 9px;
    padding-bottom: 12px;
    padding-right: 11px;
}

.platform-linux .frame {
    padding-top: 0px;
    padding-left: 4px;
    padding-bottom: 25px;
    padding-right: 6px;
}
