* {
    native: true;
}

.component:native {
    background-color: none;
    color: none;
    border: none;
}

.scroll, .range, .progress, .slider {
    width: auto;
    height: auto;
    background-color: none;
    color: none;
    border: none;
}

.horizontal-range, .horizontal-progress {
    width: 100px;
}

.vertical-range, .vertical-progress {
    height: 100px;
}

.numberstepper {
    width: auto;
    height: auto;
    background-color: none;
    color: none;
    border: none;
}

.textfield {
    width: auto;
    height: auto;
    border: none;
    background-color: none;
    color: none;
}

.switch {
    width: auto;
    height: auto;
}

.textarea {
    width: auto;
    height: auto;
    color: black;
}

.tabview {
    width: auto;
    height: auto;
}

.tabview .tab-page {
    padding: 5px;
}

.dialog-footer-container {
    padding: 5px;
}

.custom-dialog-footer, .custom-dialog-footer .tabview {
    background-color: platform-color(window);
}

.custom-dialog-footer .dialog-footer-line {
    background-color: platform-color(3d-light);
}

.custom-dialog-footer .dialog-footer-container {
    background-color: platform-color(frame-bk);
}