* {
    native: true;
}

.scroll, .hscroll, .vscroll, .slider, .hslider, .vslider {
    width: auto;
    height: auto;
    background-color: none;
    color: none;
}

.progress, .slider {
    width: auto;
    height: auto;
    background-color: none;
    color: none;
}

.button {
    background-color: none;
}

.dialog {
    padding-top: 10px;
}

.textfield {
    width: auto;
    height: auto;
    border: none;
    background-color: none;
    color: none;
}

.textarea {
    width: auto;
    height: auto;
    color: black;
}