* {
    native: true;
}

.scroll, .range, .progress, .slider {
    width: auto;
    height: auto;
    background-color: none;
    color: none;
}

.horizontal-range, .horizontal-progress {
    width: 100px;
}

.vertical-range, .vertical-progress {
    height: 100px;
}

.numberstepper {
    width: 70px;
    height: 20px;
    background-color: none;
    color: none;
    border: none;
}

.button {
    background-color: none;
}

.dialog {
    padding-top: 10px;
}

.textfield {
    width: auto;
    height: auto;
    border: none;
    background-color: none;
    color: none;
}

.switch {
    width: auto;
    height: auto;
}

.textarea {
    width: auto;
    height: auto;
    color: black;
}

.tabview {
    width: auto;
    height: auto;
}

.tabview .tab-page {
    padding: 5px;
}

.dialog-footer-container {
    padding: 5px;
}

.hxwidgets-dialog-content {
    spacing: 0;
}
